	/* #### Base styles #### */		
	* {box-sizing: border-box;}	
	body {
		font-family: 'Nunito', sans-serif;
		padding: 5px;
		background-color: white;
		width: auto;}
	body a{color: black;
		background-color: orange;}
	/**div p {color: gray;}**/

/** START PRELOADER **/
	.spinner-wrapper {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: transparent;
 z-index: 999999;
}

h4 {
  text-align:center;
}

h2 {
  text-align:center;
}
.sk-folding-cube {
 position: absolute;
 top: 48%;
 left: 48%;
 width: 40px;
 height: 40px;
 -webkit-transform: rotateZ(45deg);
 transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
 float: left;
 width: 50%;
 height: 50%;
 position: relative;
 -webkit-transform: scale(1.1);
 -ms-transform: scale(1.1);
 transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: orange;
 -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
 animation: sk-foldCubeAngle 2.4s infinite linear both;
 -webkit-transform-origin: 100% 100%;
 -ms-transform-origin: 100% 100%;
 transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
 -webkit-transform: scale(1.1) rotateZ(90deg);
 transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
 -webkit-transform: scale(1.1) rotateZ(180deg);
 transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
 -webkit-transform: scale(1.1) rotateZ(270deg);
 transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
 -webkit-animation-delay: 0.3s;
 animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
 -webkit-animation-delay: 0.6s;
 animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
 -webkit-animation-delay: 0.9s;
 animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
 0%,
 10% {
  -webkit-transform: perspective(140px) rotateX(-180deg);
  transform: perspective(140px) rotateX(-180deg);
  opacity: 0;
 }
 25%,
 75% {
  -webkit-transform: perspective(140px) rotateX(0deg);
  transform: perspective(140px) rotateX(0deg);
  opacity: 1;
 }
 90%,
 100% {
  -webkit-transform: perspective(140px) rotateY(180deg);
  transform: perspective(140px) rotateY(180deg);
  opacity: 0;
 }
}

@keyframes sk-foldCubeAngle {
 0%,
 10% {
  -webkit-transform: perspective(140px) rotateX(-180deg);
  transform: perspective(140px) rotateX(-180deg);
  opacity: 0;
 }
 25%,
 75% {
  -webkit-transform: perspective(140px) rotateX(0deg);
  transform: perspective(140px) rotateX(0deg);
  opacity: 1;
 }
 90%,
 100% {
  -webkit-transform: perspective(140px) rotateY(180deg);
  transform: perspective(140px) rotateY(180deg);
  opacity: 0;
 }
}
/** END PRELOADER **/

/** START HEADER **/
	#header-nav {border: 0;
		border-radius: 0;
		background-color: orange;
		margin-bottom: 5px;
		height: 10%;}
	.navbar-toggle {clear: both;}	
	.nav-link {
		background-color: transparent;
		float: right;
		font-size: 18px;
		clear: right;}
	.navbar-brand {width: 50%;}				
	#headerandfooter {color: black;
		text-shadow: 1px black;
		font-weight: 700;
		margin-bottom: 1%;
		margin-left: 5px;}
	#quote {margin-left: 5px;}
	#email-btn {
		width: 65px;
		text-align: center;
		align-content: center;
		margin-top: 3px;
		margin-bottom: 3px;
		box-shadow: 5px black;}
	#email-btn:hover {box-shadow: 0 0 10px gray;}	
	button a {background-color: transparent;}
	#email:hover {background-color: transparent;
	}		
	.navbar-header img {margin: 3px;}
/** END HEADER **/

/** START BODY **/
	.container .jumbotron {
		padding: 0;
		margin-top: 5px;
		border: 2px solid;
		box-shadow: 0 0 15px;}
	#top {color: orange;
		text-align: center;
		margin-bottom: 3%;
		font-weight: 800;
		opacity: 10;
		text-shadow: 0 0 15px;}
	h3 {margin-bottom: 50px;}
	h5 {font-weight: bold;}	
	.mainpoint {color: black;
		text-align: justify-all;
		padding: 10px;
		margin: 1%;
		top: 0;
		background-color: gray;
		font-weight: 600;
		overflow: auto;}	
	.aboutus {color: black;
		text-align: right;
		font-weight: bold;
		font-size: 150%;
		background: gray;
		padding: 1%;
		}
	#social {margin-bottom: 10px;}	
	a:hover, a:active {background-color: gray;
		color: blue;}
	.icon-link, .icon-link:hover, .icon-link:active {background-color: transparent;
		color: black;
		margin-left: 10px;}
	.note-list {margin-bottom: 20px;}	
	input[type="file"] {
		display: none;}
	label {
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		text-shadow: 0 0 15px;
		width:33%;
	}
	.input {
		margin: 15px;
		margin-top: 150px;
		box-shadow: 0 0 5px black;
		align-content: left;
		background-color: orange;
		width: 250px;
		}
	.big-input {
		margin: 15px;
		box-shadow: 0 0 5px black;
		text-align: center;
		background-color: orange;
		width: 250px;
	}
	.feedback-header {
		background-color: gray;
		width: 170px;
	}	
	.input-box {

		}
	/**.input-button {box-shadow: 0 0 10px;}**/
	.inner {padding: 3% 3% 3% 3%;}	
	.go-to {color: white;}
	#submit-btn {
		width: 65px;
		text-align: center;
		align-content: center;
		margin-top: 3px;
		margin-bottom: 3px;
		box-shadow: 7px black;}
	#submit-btn:hover {box-shadow: 0 0 10px gray;}
	.form-btn {margin-left: 3%;}
	#fan-name {margin: 20px 0px 0px 15px;
		font-size: 25px;
		font-weight: bold;}
	#fan-mail {margin-left: 20px;
		margin-bottom: 5px;}
	#prefix {font-size: 20px;
		font-weight: bold;
		margin-left: 15px;}
	#fan-content {margin-left: 20px;
		font-size: 15px;
		font-weight: bold;}
	#message-box {
		margin-bottom: 20px;
		position: absolute;
		overflow: ;}
	#fan-content-box {
		margin-bottom: 100px;
	}
	#compulsory {color: red;
		font-weight: bolder;}
	.submitted-notif {
		background-color: green;
		font-weight: bold;
		color: white;
		margin-left: 20px;
		width: 33px;
	}
	.not-submitted-notif {
		background-color: red;
		font-weight: bold;
		color: white;
		margin-left: 20px;
		width: 60px;
		margin-bottom: 20px;
	}
	div#tile-col-md-4 {width: 100%;}
	section img {padding: 0;
		margin:12px 2px 5px 2px ;
		box-shadow: 0 0 8px black;}
	section img:hover, section img:active {box-shadow: 0 0 20px black;}
	/**.contentbox {background-color: gray;
		text-align: justify;
		margin: 10px 10px 10px 10px;
		width: 33%;
		height: 10%;
		overflow: scroll;}**/

	.hide-me {display: none;}

/** END BODY **/

/** START FOOTER **/
.panel-footer {margin-top: 20%;
		padding-top: 35px;
		padding-bottom: 30px;
		border-top: 0;
		background-color: #222;}
.panel-footer #headerandfooter {color: white;}
.panel-footer div.row {margin-bottom: 35px;
		font-size: 120%;}					
/** END FOOTER **/

/******Large Devices only******/
@media (min-width: 1200px;) {.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {float: left;}
.col-lg-1 {
	width: 8.33%;
}
.col-lg-2 {
	width: 16.66%;
}
.col-lg-3 {
	width: 25%;
}
.col-lg-4 {
	width: 33%;
}
.col-lg-5 {
	width: 41.66%;
}
.col-lg-6 {
	width: 50%;
}
.col-lg-7 {
	width: 58.33%;
}
.col-lg-8 {
	width: 66.66%;
}
.col-lg-9 {
	width: 74.99%;
}
.col-lg-10 {
	width: 83.33%;
}
.col-lg-11 {
	width: 91.66%;
}
.col-lg-12 {
	width: 100%;
}
}

/******Medium Devices only******/
@media (min-width: 992px;) and (max-width: 1199px) {.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {float: left;}
.col-md-1 {
	width: 8.33%;
}
.col-md-2 {
	width: 16.66%;
}
.col-md-3 {
	width: 25%;
}
.col-md-4 {
	width: 33%;
}
.col-md-5 {
	width: 41.66%;
}
.col-md-6 
{
	width: 50%;
}
.col-md-7 {
	width: 58.33%;
}
.col-md-8 {
	width: 66.66%;
}
.col-md-9 {
	width: 74.99%;
}
.col-md-10 {
	width: 83.33%;
}
.col-md-11 {
	width: 91.66%;
}
.col-md-12 {
	width: 100%;
}
}

/******Small Devices only******/
@media (min-width: 768px;) and (max-width: 991px;) {.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {float: left;}
.col-sm-1 {
	width: 8.33%;
}
.col-sm-2 {
	width: 16.66%;
}
.col-sm-3 {
	width: 25%;
}
.col-sm-4 {
	width: 33%;
}
.col-sm-5 {
	width: 41.66%;
}
.col-sm-6 {
	width: 50%;
}
.col-sm-7 {
	width: 58.33%;
}
.col-sm-8 {
	width: 66.66%;
}
.col-sm-9 {
	width: 74.99%;
}
.col-sm-10 {
	width: 83.33%;
}
.col-sm-11 {
	width: 91.66%;
}
.col-sm-12 {
	width: 100%;
}
}

/******Extra Small Devices only******/
@media (min-width: 480px;) and (max-width: 767px;) {.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {float: left;}
.col-xs-1 {
	width: 8.33%;
}
.col-xs-2 {
	width: 16.66%;
}
.col-xs-3 {
	width: 25%;
}
.col-xs-4 {
	width: 33%;
}
.col-xs-5 {
	width: 41.66%;
}
.col-xs-6 {
	width: 50%;
}
.col-xs-7 {
	width: 58.33%;
}
.col-xs-8 {
	width: 66.66%;
}
.col-xs-9 {
	width: 74.99%;
}
.col-xs-10 {
	width: 83.33%;
}
.col-xs-11 {
	width: 91.66%;
}
.col-xs-12 {
	width: 100%;
}
}

/****** Extra Extra Small Devices ******/
@media (max-width: 479px;) {
.col-xxs-12 {
	position: relative;
  	min-height: 1px;
  	padding-right: 15px;
  	padding-left: 15px;
  	width: 100%;
	}
}